*{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color:  #FFF;
    padding: 15px 30px;
}
.btn-primary:hover{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background: white;
    font-weight: 700;
    font-size: 20px;
    color:  #FD6E0A;
    padding: 14px 29px;
}
/* -------nav------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
nav a{
    text-decoration: none;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    color: #474747;
}
.text-primary{
    color: #FD6E0A;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}
/* -------header------- */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .profile-picture{
    width: 584px;
    height: 676px;
}
.profile-picture{

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}
/* -------main------- */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    color: #181818;
    font-weight: 700;
}
/* -------about------- */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.section-description{
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    color:  #757575;
    font-weight: 400;
}
.about-info-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
/* ------what i do--------- */
#what-i{
    padding: 20px 100px;
}
.skill-container{
    display: flex;
    padding: 10px;
    gap: 24px;
}
.skill{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    border-radius: 8px;
}
.skill-title{
    font-family: Open Sans;
    font-size: 20px;
    color: #181818;
    font-weight: 700;
}
.skill-description{
    font-family: Open Sans;
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}
/* -----resume------ */
.resume-container{
    display: flex;
    justify-content: space-between;
}
.resume-column-title{
    font-family: Open Sans;
    font-size: 30px;
    color: #474747;
    font-weight: 700;

}
.resume-item-title{
    font-family: Open Sans;
    font-size: 25px;
    color: #474747;
    font-weight: 700;
}
.resume-item-institute{
    font-family: Open Sans;
    font-size: 20px;
    color: #474747;
    font-weight: 600;
}
.resume-item-description{
    font-family: Open Sans;
    font-size: 16px;
    color: #474747;
    font-weight: 400;
}
.resume-item{
    padding: 5px;
}
.resume-colmun{
    margin: 10px;
}
.middle-btn{
    text-align: center;
}
/* --------footer--------- */
.footer{
    background-color: #FFF8F3;
}
.foot{
    display: flex;
    justify-content: space-around;
    padding: 130px 230px;
}
.foot-right .foot-left{
    width: 40%;
}
.input{
    width: 461px;
    border: 0;
    height: 64px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.footer-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}
textarea{
    width: 461px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
}
.footer-description{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}
.icons{
    font-size: 35px;
    padding: 10px;
    color: #FD6E0A;
}


/* -----------responsive layout-------------- */
/* mobile device */
@media screen and (max-width: 576px) {
    .skill-container, .resume-container, .about-info-container{
        flex-direction: column;
    }
    #what-i{
        padding: 20px;
    }
    .foot{
        flex-direction: column;
        padding: 20px 15px;
    }
    .about{
        margin: 10px;
        padding: 10px;
    }
    .about-info{
        display: flex;
        align-items: center;
    }
    .header{
        background-image: none;
    }
    .banner{
        flex-direction: column;
        padding: 0px;
        margin: 10px;
    }
    .banner img, .profile-picture{
        /* width: 399px; */
    }
    .picss{
        display: none;
    }
    nav > ul{
        display: none;
    }
    .banner-title{
        font-size: 50px;
    }
}
/* tablet device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    
}