*{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}
.btn-primary{
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color:  #FFF;
    padding: 15px 30px;
}
/* -------nav------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
nav a{
    text-decoration: none;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    color: #474747;
}
.text-primary{
    color: #FD6E0A;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}
/* -------header------- */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position: bottom;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}